/* === basic common styling start === */
* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

a,
p,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
span {
    margin: 0;
    padding: 0;
}

a,
a:hover {
    display: inline-block;
    text-decoration: none;
}

img {
    vertical-align: middle;
}

/* === basic common styling end === */